.App {
  text-align: center;
}

/* TODO do we need any of this? */
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* TODO do we still need this? */
/* .App-link {
  color: #61dafb;
} */
