@media screen and (min-width: 1400px) {
  .container {
    display: flex;
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    display: flex;
    width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    display: flex;
    width: 1870px;
  }
}

.container-smooth {
  max-width: 1170px;
}
@media (min-width: 1px) {
  .container-smooth {
    width: auto;
  }
}

#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }
}



