node_modules/

build/
dist/

*.xml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode/
.env

# since we're using yarn we should avoid checking in npm's lockfile
package-lock.json

# for now, remove yarn 2's directory so that we don't keep accidentally committing them
.yarn/
/.vs/GroupProject2/v16/.suo
/.vs/slnx.sqlite
