@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

@media screen and (min-width: 1400px) {
    .container {
        display: flex;
        width: 1370px;
    }
}
@media screen and (min-width: 1600px) {
    .container {
        display: flex;
        width: 1570px;
    }
}
@media screen and (min-width: 1900px) {
    .container {
        display: flex;
        width: 1870px;
    }
}
.card-row {
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 2fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.profile-card{
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background: rgba(255,255,255,1);
    display: inline-block !important;
    margin: 30px !important;
    position: relative;
}

.profile-card header{
    display: block;
    position: relative;
    background: rgba(255,255,255,1);
    text-align: center;
    padding: 15px 0 10px;
    z-index: 1;
    overflow: hidden;
}

.profile-card header img{
    border-radius: 100%;
    width: 150px;
    border: 1px solid rgba(255,255,255,.5);
    box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
}

.profile-card header h1{
    font-weight: 200;
    font-size: 42px;
    color: #444;
    letter-spacing: -3px;
    margin: 0;
    padding: 0;
}

.profile-card header h2{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    letter-spacing: .5px;
}

.profile-card .profile-bio{
    display: block;
    padding: 0 20px 15px;
    text-align: left;
    color: #888;
}

.profile-card .profile-social-links{
    display: block;
    width: 70%;
    position: absolute;
    bottom: 0;
    margin: 0 15%;
    padding-bottom: 5px;
}

.profile-card .profile-social-links span{
    display: table-cell;
    width: 50%;
}

.member-job {
    margin: 0 5px;
    color: lightskyblue;
}

.member-socials {
    color: cornflowerblue;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #149ddd;
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .icon-box {
    margin-bottom: 20px;
}
