/*--------------------------------------------------------------
# Landing Page/Home
--------------------------------------------------------------*/
@media (max-width: 991px) {
    #landing .landing-content {
        padding-top: 30px;
    }
}

#landing .landing-content .features {
    margin: 0 0 15px 0;
    padding: 0;
}

#landing .counters {
    padding-top: 40px;
}

#landing .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #555186;
}

#landing .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #8a87b6;
}

/*--------------------------------------------------------------
# Game
--------------------------------------------------------------*/
/* No styles yet */

/*--------------------------------------------------------------
# Team & Team Profile Card
--------------------------------------------------------------*/
.col-lg-6 {
    display: flex;
}

.profile-card{
    padding: 7%;
    box-shadow: 13px 13px 9px -1px rgba(237,220,237,1);
    background-color: white;
    display: inline-block !important;
    margin: 20px !important;
    position: relative;
    border-radius: 2%;
}

.member-name {
    color: #3f51b5;
    font-weight: 600;
    margin: 0;
}

.profile-card header{
    display: block;
    position: relative;
    background: white;
    text-align: center;
    padding: 15px 0 10px;
    z-index: 1;
    overflow: hidden;
    border-radius: 2%;
}

.profile-card header img{
    border-radius: 100%;
    width: 150px;
    border: 1px solid rgba(255,255,255,.5);
    box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
}


.profile-card .profile-bio{
    display: block;
    padding: 0 20px 15px;
    text-align: left;
}

.profile-card .profile-social-links{
    display: block;
    width: 70%;
    position: absolute;
    bottom: 10px;
    margin: 0 5%;
    padding-bottom: 5px;
}

.profile-card .profile-social-links span{
    display: table-cell;
    width: 50%;
}

.member-socials {
    color: cornflowerblue;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/* no styles yet */

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px;
    overflow: hidden;
}

